{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Cancel Checkout" %}{% endblock %}

{% block content %}
    <div style="text-align: center" class="container" >
        <br>
        <div class="alert alert-danger fade show">
            <h5 class="h3 mb-3 font-weight-normal">Failure!</h5>
            <p>The checkout process was cancelled.</p>
            <p><a style="color:#721c24;" href="{% url 'account_login' %}">Go back to Home page.</a></p>    
        </div>
    </div>
{% endblock %}