{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Successful Checkout" %}{% endblock %}

{% block content %}
    <div style="text-align: center" class="container" >
        <br>
        <div class="alert alert-success fade show">
            <h5 class="h3 mb-3 font-weight-normal">Success!</h5>
            <p>Your payment was successful. Thank you!</p>
            <p><a style="color:#0f5132;" href="{% url 'home' %}">Go back to Home page.</a></p>  
        </div>
    </div>
{% endblock %}