{% extends "base.html" %}

{% block masthead_content %}
    <header class="masthead">
        <div class="container"> 
            <div class="masthead-heading">Managing recipes couldn't be easier!</div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Add new recipe form -->
    <section class="page-section bg-light">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Add a New Recipe</h2>
            </div>
            <form id="recipeForm" method="POST" enctype="multipart/form-data" action="{% url 'add_recipe' %}">
                {% csrf_token %}
                <div class="row align-items-stretch mb-5">
                    <div class="col-md-12">
                        <fieldset>
                            {% include "recipes/recipe_form.html" %}
                        </fieldset>
                    </div>
                </div>
                <!-- Save and Cancel buttons-->
                <div class="text-center">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-lg text-uppercase">Cancel</a>
                    <button class="btn btn-primary btn-lg text-uppercase" id="saveButton" type="submit">Save</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}