{% extends "base.html" %}

{% load static %}

{% block masthead_content %}
    <header class="masthead">
        <div class="container"> 
            <div class="masthead-heading">Managing recipes couldn't be easier!</div>
        </div>
    </header>
{% endblock %}

{% block content %}
<section class="page-section bg-light" id="recipeCards">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">All recipes</h2>
            <h3 class="section-subheading text-muted">Manage your recipes by viewing, editing or deleting them.</h3>
        </div>
        {% if recipes|length > 0 %}
        <div class="row">
            <div class="col-sm-4">
                <input type="search" placeholder="Start typing.." name="search" class="form-control searchbox-input" required="">
            </div>
            <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-center"> -->
                <!-- <div id="sortButton"> 
                    <button class="btn btn-primary" onclick = "sortRecipesByName()" type="button">Sort by Name <span><i class="fa fa-sort"></i></span>
                    </button>
                </div> -->
                <div id="filterButton">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">Filter by
                        Course
                        <span class="caret"></span></button>
                    <!-- source https://mdbootstrap.com/snippets/jquery/mdbootstrap/821050#html-tab-view -->
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="Breakfast" id="checkbox1">
                                    <label class="custom-control-label" for="checkbox1">Breakfast</label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="Lunch" id="checkbox2">
                                    <label class="custom-control-label" for="checkbox2">Lunch</label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="Dinner" id="checkbox3">
                                    <label class="custom-control-label" for="checkbox3">Dinner</label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="Snacks" id="checkbox4">
                                    <label class="custom-control-label" for="checkbox4">Snacks</label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="Desserts" id="checkbox5">
                                    <label class="custom-control-label" for="checkbox5">Desserts</label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox6">
                                    <label class="custom-control-label" for="checkbox6">Others</label>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            <!-- </div> -->
        </div>
        <div class="row" id="recipes">
            <!-- ajax generated data will be populated here-->
        </div>
        {% else %}
        <div class="col-12 text-center text-muted">
            <h3 class="section-subheading text-muted">You haven't added any recipes yet.
                <a href="{% url 'add_recipe' %}">Add a new recipe.</a></h3>
        </div>
        {% endif %}
    </div>
</section>

<div class="col-lg-3 col-sm-6 mb-4" style="display: none;" id="card-template">
    <div class="card">
        <!-- {% if recipe.image %}
        <a href="{% url 'view_recipe' recipe.id %}">
            <img class="card-img-top" src="{{ recipe.image.url }}" alt="{{ recipe.recipe_name }}">
        </a>
        {% else %} -->
        <a href="__ url 'view_recipe' 123__">
            <img class="card-img-top" src="{% static 'img/chef-cap.png' %}" alt="__recipe.recipe_name__">
        </a>
        <!-- {% endif %} -->
        <div class="card-body text-center">
            <h5 class="card-title text-truncate recipe-name">__recipe.recipe_name__</h5>
            <h6 class="card-title text-truncate">__ recipe.course|capfirst __</h5>
                <hr>
                <div class="cardIcons">
                    <div class="d-flex justify-content-center">
                        <a href="__ url 'view_recipe' recipe.id __#recipeForm">
                            <i class="far fa-eye"></i>
                        </a>
                        <a href="__ url 'edit_recipe' recipe.id __#recipeForm">
                            <i class="far fa-edit"></i>
                        </a>
                        <a href="#">
                            <i class="far fa-trash-alt" data-bs-toggle="modal"
                                data-bs-target="#confirmDeletionModal__recipe.id __"></i>
                        </a>
                        <!-- Confirm Delete Modal -->
                        <div class="modal fade" id="confirmDeletionModal__ recipe.id__" tabindex="-1"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content text-center">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Confirm delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete
                                        <strong>__ recipe.recipe_name __</strong> recipe?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">No</button>
                                        <a href="__ url 'delete_recipe' recipe.id __"
                                            class="btn btn-primary">Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Bootstrap filestyle plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/2.1.0/bootstrap-filestyle.js"> </script>
<!-- Core theme JS-->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/all_recipes_population.js' %}"></script>
{% endblock %}
