<div class="form-group">
    <!-- Name input-->
    <label for="recipe_name">Recipe name*</label>
    {{ form.recipe_name}}
</div>
<div class="form-group">
    <label for="course">Courses*</label>
    {{ form.course}}
</div>
<div class="form-group form-group-textarea">
    <!-- Ingredients textarea -->
    <label for="ingredients">Ingredients</label>
    {{ form.ingredients}}
</div>
<div class="form-group form-group-textarea">
    <!-- Steps textarea -->
    <label for="steps">Steps</label>
    {{ form.steps}}
</div>
<div class="form-group">
    <!-- Preparation Time input -->
    <label for="preparation_time">Preparation time</label>
    {{ form.preparation_time}}
</div>
<div class="form-group mb-md-0">
    <!-- Uload a recipe image -->
    <label for="image">Choose a recipe image</label>
    {{ form.image }}
</div>
<!-- Info modal is hidden by default and triggered from the Add/Edit recipe pages when user uploads invalid image file. -->
<div class="modal fade" id="informModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h5 class="modal-title">Info</h5>
        </div>
        <div class="modal-body">
          Message here
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>