{% extends "base.html" %}

{% load static %}

{% block content %}
    <section class="page-section bg-light" id="recipeCards">
        <div class="container">
            <div class="text-center">
                {% block section_title %}
                {% endblock %}
            </div>
            <div class="row">
                {% if recipes|length > 0 %}
                {% for recipe in recipes %}
                    <div class="col-lg-3 col-sm-6 mb-4">
                        <div class="card">
                            {% if recipe.image %}
                            <a href="#">
                                <img class="card-img-top" src="{{ recipe.image.url }}" alt="{{ recipe.recipe_name }}">
                            </a>
                            {% else %}
                            <a href="#">
                                <img class="card-img-top" src="{% static 'img/chef-cap.png' %}" alt="{{ recipe.recipe_name }}">
                            </a>
                            {% endif %}
                            <div class="card-body text-center">
                                <h5 class="card-title text-truncate">{{ recipe.recipe_name }}</h5>
                                <hr>
                                <div class="cardIcons">
                                    <div class="d-flex justify-content-center">
                                        <a href="{% url 'view_recipe' recipe.id %}">
                                            <i class="far fa-eye"></i>
                                        </a>
                                        <a href="{% url 'edit_recipe' recipe.id %}">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <a href="#">
                                            <i class="far fa-trash-alt" data-bs-toggle="modal" data-bs-target=""></i>
                                        </a>
                                        <!-- Confirm Delete Modal -->
                                        <div class="modal fade" id="#" tabindex="-1" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content text-center">
                                                <div class="modal-header">
                                                <h5 class="modal-title">Confirm delete</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete <strong>{{ recipe.recipe_name }}</strong> recipe?
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                <a href="#" class="btn btn-primary">Yes</a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="col-12 text-center text-muted">
                        <h5 class="section-subheading text-muted">No recipes have been added yet.</h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}