{% extends "base.html" %}

{% load static %}

{% block head_title %}View Recipe{% endblock %}

{% block masthead_content %}
    <header class="masthead">
        <div class="container"> 
            <div class="masthead-heading">Managing recipes couldn't be easier!</div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- View recipe form -->
    <section class="page-section bg-light">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">View Recipe</h2>
            </div>
            <form id="recipeForm" method="GET" action="{% url 'edit_recipe' recipe.id%}#recipeForm">
                <div class="row align-items-stretch mb-5">
                    <div class="col-md-12">
                        <fieldset disabled>
                            {% include "recipes/recipe_form.html" %}
                        </fieldset>
                    </div>
                </div>
                <!-- Back and Edit buttons-->
                <div class="text-center">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-lg text-uppercase">Back</a>
                    <button class="btn btn-primary btn-lg text-uppercase" id="editButton" type="submit">Edit</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/image_upload.js' %}"></script>
{% endblock %}