{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!-- Reused and adapted this solution https://bootsnipp.com/snippets/GavAo  -->
<div class="logreg-forms">
  <form class="form-signin login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
    <div class="social-login" style="text-align:center">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </div>
    <p style="text-align:center"> OR </p>
    {% include "account/errors.html" %}
    <input type="text" name="login" id="id_login" class="form-control" autocomplete="email"
      placeholder="Username or e-mail" required="" autofocus="">
    <input type="password" name="password" id="id_password" autocomplete="current-password" class="form-control"
      placeholder="Password" required="">
    <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
    <a href="{% url 'account_reset_password' %}" id="forgot_pswd">Forgot password?</a>
    <hr>
    <a href="{{ signup_url }}">
      <div class="btn btn-primary btn-block" id="btn-signup"><i class="fas fa-user-plus"></i> Sign
        up</div>
    </a>
  </form>
  <br>
</div>
{% endblock %}
