{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="logreg-forms">
    <form class="password_reset" method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Reset Password</h1>
        {% if form.non_field_errors %}
        <div class='form-errors' style="text-align:center">
          {% for error in form.non_field_errors %}
          <p style="color:darkred; font-weight: 500;">{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
        <input type="email" name="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="" autocomplete="email">
        <button class="btn btn-primary btn-block" type="submit">Confirm</button>
        <a href="{% url 'account_login' %}" style="text-decoration: none;" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
      </form>
</div>
{% endblock %}
